LGameBase/LGameCommon/LGservices/Service References/ThemesUpdaterProxy/ThemesUpdater.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewThemes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="tns:Language" />
            <s:element minOccurs="1" maxOccurs="1" name="themeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="take" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Language">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:unsignedInt" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetNewThemesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewThemesResult" type="tns:ArrayOfTheme" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTheme">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Theme" nillable="true" type="tns:Theme" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Theme">
        <s:complexContent mixed="false">
          <s:extension base="tns:Item">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="NameInLetters" type="tns:ArrayOfSymbol" />
              <s:element minOccurs="0" maxOccurs="1" name="Words" type="tns:ArrayOfWord" />
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:unsignedInt" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HLevel" type="tns:Level" />
              <s:element minOccurs="0" maxOccurs="1" name="PathData" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LicenseInfo" type="tns:License" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Left" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Rotation" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Word">
        <s:complexContent mixed="false">
          <s:extension base="tns:Item">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:unsignedInt" />
              <s:element minOccurs="0" maxOccurs="1" name="PictureUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AudioUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BackColor" type="tns:Color" />
              <s:element minOccurs="0" maxOccurs="1" name="BorderColor" type="tns:Color" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftColor" type="tns:Color" />
              <s:element minOccurs="0" maxOccurs="1" name="TopColor" type="tns:Color" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftTopColor" type="tns:Color" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Color">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="A" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="B" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="G" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="R" type="s:unsignedByte" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Symbol">
        <s:complexContent mixed="false">
          <s:extension base="tns:Item" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfSymbol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Symbol" nillable="true" type="tns:Symbol" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Word" nillable="true" type="tns:Word" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Level">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PictureUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TopColor" type="tns:Color" />
          <s:element minOccurs="0" maxOccurs="1" name="BottomColor" type="tns:Color" />
          <s:element minOccurs="1" maxOccurs="1" name="BestTimeResult" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="License">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:unsignedInt" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewThemesSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewThemes" />
  </wsdl:message>
  <wsdl:message name="GetNewThemesSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewThemesResponse" />
  </wsdl:message>
  <wsdl:portType name="ThemesUpdaterSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewThemes">
      <wsdl:input message="tns:GetNewThemesSoapIn" />
      <wsdl:output message="tns:GetNewThemesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ThemesUpdaterSoap" type="tns:ThemesUpdaterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewThemes">
      <soap:operation soapAction="http://tempuri.org/GetNewThemes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ThemesUpdaterSoap12" type="tns:ThemesUpdaterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewThemes">
      <soap12:operation soapAction="http://tempuri.org/GetNewThemes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThemesUpdater">
    <wsdl:port name="ThemesUpdaterSoap" binding="tns:ThemesUpdaterSoap">
      <soap:address location="http://localhost/LGserver/ThemesUpdater.asmx" />
    </wsdl:port>
    <wsdl:port name="ThemesUpdaterSoap12" binding="tns:ThemesUpdaterSoap12">
      <soap12:address location="http://localhost/LGserver/ThemesUpdater.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>